*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
}

h1{
    position: absolute;
    left: 5%;
    top: 3.5%;
    font-size: 50px;
    color: rgb(24, 162, 216);
}
.main > h1:hover{
    color: black;
    scale: 1.3;
    transition: 1s;
}
h2{
    position: absolute;
    top: 1.4%;
    left: 35%;
    font-size: 20px;
}
h3{
    position: absolute;
    top: 1.4%;
    left: 47%;
    font-size: 20px;
    color: royalblue;
}
h4{
    position: absolute;
    top: 1.4%;
    left: 63%;
    font-size: 20px;
}
h5{
    position: absolute;
    top: 1.4%;
    left: 78%;
    font-size: 20px;
    color:rgb(5, 69, 94);
}
h6{
    position: absolute;
    top: 1.4%;
    left: 92%;
    font-size: 20px;
    color:black;
}

.box1{
    width: 65%;
    height: 100%;
    background-color: rgba(245, 243, 243, 0.703);
}
.box1 > h1{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 80px;
}
.box1 > h1:hover{
    color: red;
    transition: 1s;
    scale: 1.2;
} 
.box1 > h2{
    position: absolute;
    top: 42%;
    left: 10%;
    font-size: 80px;
}
.box1 > h2:hover{
    color: rgb(15, 173, 235);
    scale: 1.2;
    transition: 1s;
}
.box1 > h3{
    position: absolute;
    top: 34%;
    left: 29%;
    font-size: 30px;
    color:rgb(70, 120, 163);
}
.box1 > h3:hover{
    color: green;
    scale: 1.2;
    transition: 1s;
}
.box1 > p{
    width: 45%;
    position: absolute;
    top: 55%;
    left: 10%;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(7, 60, 70);
}
.box1 > button{
    padding: 13px 25px;
    border: 3px solid;
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 22px;
    border-radius: 15px;
    background-color: skyblue;
    font-weight: 700;
}
.box1 > button:hover{
    background-color: rgb(11, 42, 55);
    color: white;
    transition: 0.5s;
}
.box1 img{
    position: absolute;
    z-index: 999;
    left: 49%;
    top: 15%;
    height: 75%;
}

.box2{
    width: 35%;
    height: 100%;
    background-color: grey;
    background-image: url(https://media.wired.com/photos/628832c2767cd598dfa6bbad/1:1/w_1800,h_1800,c_limit/5-Myths-Misconceptions-About-Coffee-Gear-1125088778.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}